# Archivo de configuración ApiGen

source:
    - src
    - plugins
    - templates
destination: ./docs/api
extensions: [php]
exclude:
    - vendor
title: "Documentación de la API de CakePHP"
baseUrl: "http://tusitio.com/docs/api"
